* {
  /* border: 1px solid black; */
  padding: 0px;
  margin:0px;
  font-family: 'Roboto';
   }
html {
  min-height:100vh;
  /* height:100%; */
}
body {
  display:flex;
  flex-direction:row;
  min-height:100vh;
}
#sidebar {
  flex: 1 1 auto;
  align-items:stretch;
  background-color: #0ea5e9;
  color:white;
  font-weight:bold;
 }
 #sidebar .sidebar-button {
  font-weight:bold;
  background-color:transparent;
  color:white;
  border: none;
 }
#sidebar .sidebar-button:hover {
  color:gray;
}
#sidebar .sidebar-item {
  margin:0px;
  padding-top:15px;
  padding-bottom:15px;
  display:flex;
  /* flex-direction:row; */
  /* justify-content:space-around; */
}
#sidebar .side-buttons:hover {
  background-color:#0ee9eb;
  color: gray;
}
#sidebar .title {
  font-size: 30px;
}
#sidebar .top {
  margin-top:15px;
  margin-bottom:50px;
}
#sidebar .bottom {
  margin-top:30px;
}
.mainpage {
  flex: 12 1 auto;
  align-items:stretch

}